
.grid-main div {
    display: grid;
    place-items: center;
    width: 400px;
    
    
  
  }
  .grid-ecran{
    background-color:rgb(122, 118, 118);
    display: grid;
    height: 100px;
   
    
  
    
  }
  .boutonhaut{
    background-color:#eff4f5;
    display:grid;
    grid-template-columns:repeat(2,150px);
    grid-template-rows:repeat(2,30px);
    place-items:center;
    height: 100px;
    
  }
  .bouton{
    background-color:#e2ebec;
    display:grid;
    grid-template-columns:repeat(4,100px);
    grid-template-rows:repeat(4,100px);
    place-items:center;
    border: 1px solid #070d0e;
    
  
  }
